/.CFUserTextEncoding
/.DS_Store
/.bash_history
/.bash_profile
/.bashrc
/.cache/
/.cvsignore
/.gem/
/.gemrc
/.githelpers
/.guard_history
/.heroku/
/.irb-history
/.lesshst
/.netrc
/.oh-my-zsh/
/.rbenv/
/.sh_history
/.ssh/
/.subversion/
/.viminfo
/.zcompdump*
/.zlogin
/.zsh-update
/.zsh_history
/.zshrc
/.zshrc-e
/.zshrc.pre-oh-my-zsh
/Desktop/
/Documents/
/Downloads/
/Library/
/Movies/
/Music/
/Pictures/
/Projects/
/Public/
/Sites/
/bin/
/macports/
