[user]
	name = Vasi Philomin
	email = vasi@cs.umd.edu
[diff]
[color]
	ui = auto
[alias]
	st = status
	ci = commit --verbose
	co = checkout
	di = diff
	dc = diff --cached
	aa = add --all
	ff = merge --ff-only
	pullff = pull --ff-only
	fa = fetch --all
	pom = push origin master
	b = branch
	r = !GIT_NO_PAGER=1 git l -30
	ra = !git r --all
	l = "!. ~/.githelpers && pretty_git_log"
	la = !git l --all
[merge]
	tool = vimdiff
[core]
    excludesfile = ~/.cvsignore
    editor = vimdiff
